
* { margin: 0; padding: 0; }

body { background-color: #ffffff; color: #000000; font-family: "Verdana", "Tahoma", "Helvetica", "Arial", sans-serif; }

a { color: #003d9a; text-decoration: none; }

a:focus,a:hover,a:active { text-decoration: underline; color: red; cursor: pointer; }

img { border-style: none; }

#body { width: 960px; margin-left: auto; margin-right: auto; }

#head { text-align: left; margin-bottom: 0.3em; }
#head a { color: #888; }
#head a:hover, #head a:active, #head a:focus { text-decoration: none; color: #474747; }
#head abbr { border-bottom: none; }
#head h1 { font-size: 2.8em; }
#head h1 img { width: 40px; }

#head .head-icon { display: inline-block; padding: 5px;  margin-top: 5px; background-color: red; border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; }

#logoBar { letter-spacing: 0.3em; width: 250px; }

.userBar { position: absolute; width: 710px; margin-left: 250px; top: 5px; font-size: 0.9em; text-align: right; }
.userBar fieldset { border-style: none; }

#nav { list-style-type: none; border-bottom: 1px solid #999; border-top: 1px solid #999; background: #ddd; text-align: center; font-weight: bold; }
#nav li { display: inline; line-height: 2em; }
#nav a { padding: 0.5em 1em; }
#nav a:hover, #nav a:active, #nav a:focus { background-color: #eee; }

#main .leftColumn { float: left; width: 65%; position: relative; }
#main .rightColumn { float: right; width: 34%; position: relative; }
#main .rightColumn h2 { color: #444; background: window; font-family: "Verdana", serif; text-align: left; font-size: 1.4em; padding: 3px; }
#main .rightColumn h3 { color: #444; background: window; font-family: "Verdana", serif; text-align: left; font-size: 0.9em; font-weight: bold; }
#main .rightColumn textArea { width: 95%; }
#main .rightColumnInfo { padding: 10px; font-size: 0.9em; }

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 { color: #666; font-weight: normal; font-family: "Georgia", serif; margin-top: 1em; margin-bottom: 1em; text-align: center; }
#main h2 { margin-top: 0.8em; margin-bottom: 0.8em; background: #bee86c; }
#main h3 { margin-top: 0.5em; margin-bottom: 0.5em; background: #ceea98; }
#main h4 { margin-top: 0.3em; margin-bottom: 0.3em; background: #eaffc1; }
#main h5 { margin-top: 0.1em; margin-bottom: 0.1em; }
#main h6 { margin-top: 0; margin-bottom: 0; }
#main ul.admin { margin-left: 2em; }
#main ul.admin small { padding-left: 1em; }
#main ul.admin small a { color: #999; }
#main ol, #main ul { margin-left: 3em; }
#main ol li, #main ul li { margin-top: 0.4em; margin-bottom: 0.4em; }
#main ol ol { list-style-type: upper-roman; }
#main p { text-align: justify; margin-top: 0.6em; margin-bottom: 0.6em; }
#main input, #main select, #main textarea { margin-bottom: 0.2em; }
#main input.checkbox { margin-bottom: 0.0em; }
#main p.msgOk, #main p.msgError, #main p.msgInfo, #main .sruDutyHoursNoHours { border: 2px solid red; color: red; padding: 1em; text-align: center; margin: 1em; }
#main p.msgOk input, #main p.msgOk label, #main p.msgError input, #main p.msgError label, #main p.msgInfo input, #main p.msgInfo label { display: inline; margin: 0; float: none; clear: none; }
#main p.msgOk { color: #009a00; border-color: #009a00; }
#main strong.msgError { background-image: url('../img/wykrzyknik.png'); background-position:left center; background-repeat: no-repeat; padding-left: 20px; }
#main p.msgInfo { color: #000080; border-color: #000080; }
#main q { background-color: #eee; }
#main blockquote { border-left: 3px solid #eee; margin-left: 1em; padding-left: 1em; }
#main fieldset { margin-top: 1em; border-style: none; background-color: #eee; padding: 0.5em; }
#main fieldset fieldset { padding: 0.5em 0; }
#main fieldset.radio legend { font-weight: normal; font-family: "Verdana", "Tahoma", "Helvetica", "Arial", sans-serif; width: 24%; margin-right: 0.5%; float: left; clear: both; text-align: right; }
#main legend { margin-left: 1em; background-color: #eee; padding: 0.1em 2em; font-family: "Georgia", serif; font-weight: bold; }
#main label { display: block; width: 29.5%; float: left; clear: both; text-align: right; margin-right: 0.5%; }
#main input.radio, #main input.checkbox { margin-left: 30%; float: left; clear: both; margin-top: 0.2em; }
#main label.radio, #main label.checkbox { width: 67%; float: right; clear: none; text-align: left; }
#main input.submit { padding: 0.2em 1em; margin-top: 0.5em; margin-left: 30%; }
#main p.services input.submit { margin-left: 0px;}
#main .switchPortsEdit input.submit { margin-left: 5px; margin-right: 5px;}
#main textarea { width: 67%; }
#main textarea.address { width: 47%; }
#main .userAction { font-size: 0.8em; border-bottom: 1px dotted; }
#main .userData { font-weight: bold; }
#main .computer p, #main .user p, #main .penalty p, #main .room p, #main .admin p { margin: 0; padding: 0; clear: both; }
#main .computer p.comment, #main .user p.comment, #main .penalty p.comment, #main .room p.comment, #main .admin p.comment { margin-left: 10.5em; margin-top: 1em; }
#main .computer em, #main .user em, #main .penalty em, #main .room em, #main .admin em { clear: both; display: block; width: 15em; text-align: right; font-style: normal; margin-right: 0.5em; float: left; font-weight: bold; color: #444444; }
#main .computer ol, #main .user ol, #main .penalty ol, #main .room ol, #main .admin ol { font-size: 0.8em; font-weight: bold; color: #444444; }
#main .computer ol li:hover ul, #main .user ol li:hover ul, #main .penalty ol li:hover ul, #main .room ol li:hover ul, #main .admin ol li:hover ul { background-color: #eee; }
#main .computer ol ul, #main .user ol ul, #main .penalty ol ul, #main .room ol ul, #main .admin ol ul { font-weight: normal; color: #444444; margin: 0; list-style-type: none; }
#main .computer ol p a, #main .user ol p a, #main .penalty ol p a, #main .room ol p a, #main .admin ol p a { font-weight: normal; font-size: 0.8em; }
#main .rooms ul { list-style-type: none; margin: 0; padding: 0; clear: both; text-align: center; border-top: 1px solid #ccc; overflow: auto; }
#main .rooms ul.first { border-top-style: none; }
#main .rooms li { width: 10%; float: left; display: block; }
#main ul.penaltyTemplates { text-align: left; width: 100%; list-style-type: none; margin: 0; }
#main ul.penaltyTemplates li { clear: both; }
#main ul.penaltyTemplates h3 { width: 32%; float: left; margin-top: 0; text-align: right; font-size: 1em; font-family: "Verdana", "Tahoma", "Helvetica", "Arial", sans-serif; }
#main ul.penaltyTemplates p { width: 66%; float: right; margin-top: 0; }
#main .displayOnHover span, #main .displayOnHover a { color: white; }
#main .displayOnHover a:hover { text-decoration: underline; color: red; }
#main .displayOnHover span:hover { color: black; }
#main .nav { display: block; }
#main .centralized { margin-left: auto; margin-right: auto; }
#main .ban { background: #ffa766; }
#main .warning { background: #fff4ac; }
#main .userBan { background: #ff7200; padding: 5px; }
#main .userWarning { background: #fff177; padding: 5px; }
#main .userWithoutBan { padding: 5px; }
#main .ips, #main .legend { font-size: 0.8em; }
#main .ips table, #main .legend table { width: 100%; border-collapse: collapse; margin-top: 2em; }
#main .ips caption { font-size: 1.5em; }
#main .ips caption a { font-size: 0.5em; }
#main .ips td, #main .legend td { text-align: center; width: 6%; border: 1px solid #eee; }
#main .ips td { color: #aaa; }
#main .ips td a { display: block; }
#main .ips td a:hover { background-color: #eee; }
#main .ips td .normal { display: block; font-style: normal; color: #003d9a;}
#main .ips td .not_signed { display: block; font-style: normal; background-color: #ffc; color: #003d9a;}
#main .ips td .wrong_dorm { display: block; background-color: #fcc; font-weight: normal; color: #003d9a;}
#main .ips td .admin { display: block; background-color: #ccf; font-weight: normal; color: #003d9a;}
#main .ips td .exadmin { display: block; background-color: #2cf; font-weight: normal; color: #003d9a;}
#main .ips td .banned { display: block; background-color: #fc0; font-weight: normal; color: #003d9a;}
#main .ips td .banned_wrong_dorm { display: block; background-color: #666; font-weight: normal; color: #003d9a;}
#main .serviceActive { color: #2bc113; font-weight: bold; }
#main .serviceWaitAdd { color: #dbaf00; font-weight: bold; }
#main .serviceWaitRemove { color: #ff0000; font-weight: bold; }
#main .serviceNone { font-weight: bold; }
#main .unregistered {  }
#main .registeredOwn { background: #cff; }
#main .registeredOther { background: #ccf; }
#main .man { background: #ccf; }
#main .woman { background: #cff; }
#main .additional { background: #f22; }
#main .free { background: #00f; color: #ff0; }
#main .editable { background-color: #ffffd3; }
#main .printable { font-size: 0.8em; }
#main .credentials { font-family: Verdana,monospace,Courier; font-size: 1.2em; }
#main .noInventoryCard { background: #d1d0ce; }
#main .wrongInvCardData { background: #f22; }

#main .switchports table { width: 100%; border-collapse: collapse;  }
#main .switchports td { text-align: center; width: 12%; border: 1px solid #eee; }
#main .switchports td.dis { background-color: #ffa37f;}
#main .switchports td.down { background-color: #888888;}
#main .switchports td.up { background-color: #a4ff42;}
#main .switchports td.unknown { background-color: white;}
#main .inoperational { background-color: #ffa766; }
#main .legend { font-size: 0.8em; }
#main .switchports td.selectedPort { border: 2px solid red; }

#main .required { border: solid 1px red; }
#main .necessary { border: solid 1px orange; }
#main .waletImg { position: relative; margin-right: 230px; float: right; top: -130px; width: 100px; }

#main .waiting { color: orange; }
#main .active { color: green; }
#main .rejected { color: red; }
#main .archived { color: gray; }

#main ul .admin { background-color: yellow; }
#main ul .serv { background-color: green; }
#main ul .org { background-color: blue; }
#main ul .adm { background-color: #28d9ff; }
#main ul .exAdmin { background-color: gray; }

#main .bordered, .sruDutyHoursUpcoming { border-collapse: collapse; width: 100%; }
#main .bordered th, .sruDutyHoursUpcoming th { border-width: 1px; border-style: solid; border-color: black; }
#main .bordered td, .sruDutyHoursUpcoming td { border-width: 1px; border-style: solid; border-color: black; }
#main .sruDutyHoursUpcoming { width: 100%; text-align: center; font-size: 0.8em; margin-top: 5px; }

#main #macvendor { font-style: italic; }

#main .legend-icon {
	display: inline-table;
	margin-right: 7px;
}

.tooltip {
	display:none;
	background:transparent url('../img/chmurka.png');
	font-size:12px;
	height:120px;
	padding:20px 20px 10px 20px;
	width:310px;
	color:black;
}

th.header { 
    background-image: url('../img/small.gif');     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #999; 
    margin-left: -1px; 
} 
th.headerSortUp { 
    background-image: url('../img/small_asc.gif'); 
    background-color: #999; 
}
th.headerSortDown { 
    background-image: url('../img/small_desc.gif'); 
    background-color: #999; 
}
td.listAdminWalet { 
border-top: 1px solid;
}

/* context menu */
#main .contextMenu {
	position: absolute;
	width: 220px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #e7ffc4;
	padding: 0px;
	margin: 0px;
	display: none;
	margin-left: 0em;
}

#main .contextMenu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#main .contextMenu a {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

#main .contextMenu li.hover a {
	color: #FFF;
	background-color: #8bd079;
}

#main .contextMenu li.separator {
	border-top: solid 1px #CCC;
}

#main .contextMenu li.editSwitchContexMenu a { background-image: url('../img/edycja.png'); }
#main .contextMenu li.macSwitchContexMenu a { background-image: url('../img/jablko.png'); }


#foot { text-align: center; font-size: 0.5em; margin-top: 2em; clear: both; }

#socialBar {
    top: 142px;
    font-size: 0;
    margin-left: 960px;
    width: 44px;
    padding: 0;
    position: absolute;
}
#socialSidebar {
	float: right;
}
#socialSidebar li {
    background: none repeat scroll 0 0 transparent;
    list-style: none;
    height: 38px;
    margin-top: 6px;
    padding: 0;
    position: relative;
    width: 43px;
}

#main img.loadingImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ui-datepicker-trigger{
    margin-left: 6px;
    position: relative;
    top: 1px;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

.menu, .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    line-height: 2.5em;
    z-index: 20;
}
.menu a {
    text-decoration: none;
}
.menu > li {
    margin-left: 15px;
}
.menu > li:first {
    margin-left:0px!important;
    }
.menu > li > a {
    padding: 0px 10px;
    margin: 0;
    width: 100%;
    text-decoration: none;
    color: #636383;
    font-weight: bold;
}

div.box {
    position: absolute;
    z-index: -1;
    background-color: #ccc;
    left: 0;
    top: 0;
    border-radius: 4px 4px 0px 4px;
    -moz-border-radius: 4px 4px 0px 4px;
    -webkit-border-radius: 4px 4px 0px 4px;
}
li.pull-down {
    padding-right:6px;
    }
li.pull-down > a {
    background-image: url('../img/darrow.png');
    background-position: 99% 75%;
    background-repeat: no-repeat;
    padding-right: 20px;
}
li.right-menu > a {
    background-image: url('../img/rarrow.png');
    background-position: 97% 45%;
    background-repeat: no-repeat;
}
.menu a.selected {
    background-color: #75CDD2;
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
}
.menu li
{
    float: right;
    position: relative;
}

.menu ul {
    position: absolute;
    right: 0px;
    display: none;
    width: 200px;
    top: 2.5em; /*padding-right: 10px;*/
    background-color: #ccc; /*-moz-opacity: .50;     filter: alpha(opacity=50);     opacity: .50;*/
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
}

.menu li ul a {
    width: 180px;
    height: auto;
    float: left;
    color: #003d9a !important;
    padding: 0 10px;
}
.menu li ul li {
    padding: 0;
    margin: 0;
}
.menu ul ul {
    top: auto;
}

.menu li ul ul {
    left: 198px; /*margin: 0px 0 0 10px;*/
}
.menu-item-selected > a {
    background-color: #FFFEFD;
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    opacity: .50;
}
.menu-item-selected > a:hover {
    color: red !important;
    font-weight: bold;
}

.mainMenuItem {
	font-size: 1.5rem;
}

.menuLoginItem {
	font-size: 0.7rem;
	line-height: 1.8em;
	padding: 0 10px !important;
}
