!background = #fff
!foreground = #000
!linkColor = #003d9a

*
	:margin 0
	:padding 0

body
	:background
		:color = !background
	:color = !foreground
	:font
		:family "Verdana", "Tahoma", "Helvetica", "Arial", sans-serif
a
	:color = !linkColor
	:text-decoration none
a:focus,a:hover,a:active
	:text-decoration underline
	:color red
img
	:border-style none
#body
	:width 40em
	:margin
		:left auto
		:right auto
#head
	:text-align center
	:font-size 3em
	:letter-spacing 0.4em
	:margin
		:bottom 0.3em
	a
		:color #aaa
	a:hover,a:active,a:focus
		:text-decoration none
		:color #999
#nav
	:list-style-type none
	:border
		:bottom 1px solid #ddd
		:top 1px solid #ddd
	:text-align center
	li
		:display inline
		:line-height 2em
	a
		:padding 0.5em 1em
	a:hover,a:active,a:focus
		:background-color #eee
#main
	h1,h2,h3,h4,h5,h6
		:color #666
		:font
			:weight normal
			:family "Georgia", serif
		:margin
			:top 1em
			:bottom 1em
		:text-align center
	h2
		:margin
			:top 0.8em
			:bottom 0.8em
	h3
		:margin
			:top 0.5em
			:bottom 0.5em
	h4
		:margin
			:top 0.3em
			:bottom 0.3em
	h5
		:margin
			:top 0.1em
			:bottom 0.1em
	h6
		:margin
			:top 0
			:bottom 0
	ul.admin
		:margin
			:left 2em
		small
			:padding-left 1em
			a
				:color #999
	ol,ul
		:margin-left 3em
		li
			:margin
				:top 0.4em
				:bottom 0.4em
	ol ol
		:list-style-type upper-roman
	p
		:text-align justify
		:margin
			:top 1em
			:bottom 1em
	p.msgOk,p.msgError
		:border 2px solid red
		:color red
		:padding 1em
		:text-align center
		:margin 1em
	p.msgOk
		:color #009a00
		:border-color #009a00
	q
		:background-color #eee
	blockquote
		:border-left 3px solid #eee
		:margin-left 1em
		:padding-left 1em
	fieldset
		:margin-top 1em
		:border-style none
		:background-color #eee
		:padding 0.5em
		legend
			:margin-left 1em
			:background-color #eee
			:padding 0.1em 1em
			:font
				:family "Georgia", serif
				:weight bold
		textarea
			:width 100%
		input.submit
			:padding 0.2em 1em
	.computer,.user
		p
			:margin 0
			:padding 0
		p.comment
			:margin
				:left 10.5em
				:top 1em
		em
			:clear both
			:display block
			:width 10em
			:text-align right
			:font-style normal
			:margin-right 0.5em
			:float left
			:font-weight bold
			:color = !foreground + #444
		ol
			:font-size 0.8em
			:font-weight bold
			:color = !foreground + #444
			li:hover
				ul
					:background-color #eee

			ul
				:font-weight normal
				:color = !foreground + #444
				:margin 0
				:list-style-type none
			p
				a
					:font
						:weight normal
						:size 0.8em
	.rooms
		ul
			:list-style-type none
			:margin 0
			:padding 0
			:clear both
			:text-align center
			:border-top 1px solid #ccc
			:overflow auto
			&.first
				:border-top-style none
		li
			:width 10%
			:float left
			:display block

	.displayOnHover
		span, a
			:color white
		a:hover
			:text-decoration underline
			:color red
		span:hover
			:color black

#foot
	:text-align center
	:font
		:size 0.5em
	:margin
		:top 2em

