
* { margin: 0; padding: 0; }

body { background-color: #ffffff; color: #000000; font-family: "Verdana", "Tahoma", "Helvetica", "Arial", sans-serif; }

a { color: #003d9a; text-decoration: none; }

a:focus,a:hover,a:active { text-decoration: underline; color: red; }

img { border-style: none; }

#body { width: 40em; margin-left: auto; margin-right: auto; }

#head { text-align: center; font-size: 3em; letter-spacing: 0.4em; margin-bottom: 0.3em; }
#head a { color: #aaa; }
#head a:hover, #head a:active, #head a:focus { text-decoration: none; color: #999; }

#nav { list-style-type: none; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; text-align: center; }
#nav li { display: inline; line-height: 2em; }
#nav a { padding: 0.5em 1em; }
#nav a:hover, #nav a:active, #nav a:focus { background-color: #eee; }

.adminBar { position: absolute; width: 10%; right: 1%; top: 0; font-size: 0.75em; text-align: right; }
.adminBar fieldset { border-style: none; }

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 { color: #666; font-weight: normal; font-family: "Georgia", serif; margin-top: 1em; margin-bottom: 1em; text-align: center; }
#main h2 { margin-top: 0.8em; margin-bottom: 0.8em; background: #bee86c; }
#main h3 { margin-top: 0.5em; margin-bottom: 0.5em; background: #ceea98; }
#main h4 { margin-top: 0.3em; margin-bottom: 0.3em; background: #eaffc1; }
#main h5 { margin-top: 0.1em; margin-bottom: 0.1em; }
#main h6 { margin-top: 0; margin-bottom: 0; }
#main ul.admin { margin-left: 2em; }
#main ul.admin small { padding-left: 1em; }
#main ul.admin small a { color: #999; }
#main ol, #main ul { margin-left: 3em; }
#main ol li, #main ul li { margin-top: 0.4em; margin-bottom: 0.4em; }
#main ol ol { list-style-type: upper-roman; }
#main p { text-align: justify; margin-top: 1em; margin-bottom: 1em; }
#main p.msgOk, #main p.msgError { border: 2px solid red; color: red; padding: 1em; text-align: center; margin: 1em; }
#main p.msgOk input, #main p.msgOk label, #main p.msgError input, #main p.msgError label { display: inline; margin: 0; float: none; clear: none; }
#main p.msgOk { color: #009a00; border-color: #009a00; }
#main q { background-color: #eee; }
#main blockquote { border-left: 3px solid #eee; margin-left: 1em; padding-left: 1em; }
#main fieldset { margin-top: 1em; border-style: none; background-color: #eee; padding: 0.5em; }
#main fieldset fieldset { padding: 0.5em 0; }
#main fieldset.radio legend { margin-left: 27%; }
#main legend { margin-left: 1em; background-color: #eee; padding: 0.1em 1em; font-family: "Georgia", serif; font-weight: bold; }
#main label { display: block; width: 29.5%; float: left; clear: both; text-align: right; margin-right: 0.5%; }
#main input.radio, #main input.checkbox { margin-left: 29.5%; margin-top: 0.5em; float: left; clear: both; }
#main label.radio, #main label.checkbox { width: 66.5%; float: right; clear: none; text-align: left; }
#main input.submit { padding: 0.2em 1em; margin-left: 29.5%; }
#main p.services input.submit { margin-left: 0px;}
#main textarea { width: 66.5%; }
#main .computer p, #main .user p, #main .penalty p { margin: 0; padding: 0; clear: both; }
#main .computer p.comment, #main .user p.comment, #main .penalty p.comment { margin-left: 10.5em; margin-top: 1em; }
#main .computer em, #main .user em, #main .penalty em { clear: both; display: block; width: 10em; text-align: right; font-style: normal; margin-right: 0.5em; float: left; font-weight: bold; color: #444444; }
#main .computer ol, #main .user ol, #main .penalty ol { font-size: 0.8em; font-weight: bold; color: #444444; }
#main .computer ol li:hover ul, #main .user ol li:hover ul, #main .penalty ol li:hover ul { background-color: #eee; }
#main .computer ol ul, #main .user ol ul, , #main .penalty ol ul { font-weight: normal; color: #444444; margin: 0; list-style-type: none; }
#main .computer ol p a, #main .user ol p a, , #main .penalty ol p a { font-weight: normal; font-size: 0.8em; }
#main .rooms ul { list-style-type: none; margin: 0; padding: 0; clear: both; text-align: center; border-top: 1px solid #ccc; overflow: auto; }
#main .rooms ul.first { border-top-style: none; }
#main .rooms li { width: 10%; float: left; display: block; }
#main ul.penaltyTemplates { text-align: left; width: 100%; list-style-type: none; margin: 0; }
#main ul.penaltyTemplates li { clear: both; }
#main ul.penaltyTemplates h3 { width: 32%; float: left; margin-top: 0; text-align: right; font-size: 1em; font-family: "Verdana", "Tahoma", "Helvetica", "Arial", sans-serif; }
#main ul.penaltyTemplates p { width: 66%; float: right; margin-top: 0; }
#main .displayOnHover span, #main .displayOnHover a { color: white; }
#main .displayOnHover a:hover { text-decoration: underline; color: red; }
#main .displayOnHover span:hover { color: black; }
#main .nav { display: block; }
#main .ban { background: #ffa766; }
#main .warning { background: #fff4ac; }
#main .ips { font-size: 0.8em; }
#main .ips table { width: 100%; border-collapse: collapse; margin-top: 2em; }
#main .ips caption { font-size: 1.5em; }
#main .ips caption a { font-size: 0.5em; }
#main .ips td { color: #aaa; text-align: center; width: 6%; border: 1px solid #eee; }
#main .ips td a { display: block; }
#main .ips td a:hover { background-color: #eee; }
#main .ips td .normal { display: block; font-style: normal; color: #003d9a;}
#main .ips td .not_signed { display: block; font-style: normal; background-color: #ffc; color: #003d9a;}
#main .ips td .wrong_dorm { display: block; background-color: #fcc; font-weight: normal; color: #003d9a;}
#main .ips td .admin { display: block; background-color: #ccf; font-weight: normal; color: #003d9a;}
#main .ips td .banned { display: block; background-color: #fc0; font-weight: normal; color: #003d9a;}
#main .ips td .banned_wrong_dorm { display: block; background-color: #666; font-weight: normal; color: #003d9a;}

#foot { text-align: center; font-size: 0.5em; margin-top: 2em; clear: both; }
