!background = #fff
!foreground = #000
!linkColor = #003d9a

*
	:margin 0
	:padding 0

body
	:background
		:color = !background
	:color = !foreground
	:font
		:family "Verdana", "Tahoma", "Helvetica", "Arial", sans-serif
a
	:color = !linkColor
	:text-decoration none
a:focus,a:hover,a:active
	:text-decoration underline
	:color red
img
	:border-style none
#body
	:width 40em
	:margin
		:left auto
		:right auto
#head
	:text-align center
	:font-size 3em
	:letter-spacing 0.4em
	:margin
		:bottom 0.3em
	a
		:color #aaa
	a:hover,a:active,a:focus
		:text-decoration none
		:color #999
#nav
	:list-style-type none
	:border
		:bottom 1px solid #ddd
		:top 1px solid #ddd
	:text-align center
	li
		:display inline
		:line-height 2em
	a
		:padding 0.5em 1em
	a:hover,a:active,a:focus
		:background-color #eee

#main
	h1,h2,h3,h4,h5,h6
		:color #666
		:font
			:weight normal
			:family "Georgia", serif
		:margin
			:top 1em
			:bottom 1em
		:text-align center
	h2
		:margin
			:top 0.8em
			:bottom 0.8em
	h3
		:margin
			:top 0.5em
			:bottom 0.5em
	h4
		:margin
			:top 0.3em
			:bottom 0.3em
	h5
		:margin
			:top 0.1em
			:bottom 0.1em
	h6
		:margin
			:top 0
			:bottom 0
	ul.admin
		:margin
			:left 2em
		small
			:padding-left 1em
			a
				:color #999
	ol,ul
		:margin-left 3em
		li
			:margin
				:top 0.4em
				:bottom 0.4em
	ol ol
		:list-style-type upper-roman
	p
		:text-align justify
		:margin
			:top 1em
			:bottom 1em
	p.msgOk,p.msgError
		:border 2px solid red
		:color red
		:padding 1em
		:text-align center
		:margin 1em
		input,label
			:display inline
			:margin 0
			:float none
			:clear none
	p.msgOk
		:color #009a00
		:border-color #009a00
	q
		:background-color #eee
	blockquote
		:border-left 3px solid #eee
		:margin-left 1em
		:padding-left 1em
	fieldset
		:margin-top 1em
		:border-style none
		:background-color #eee
		:padding 0.5em
		fieldset
			:padding 0.5em 0
	fieldset.radio
		legend
			:margin-left 27%
	legend
		:margin-left 1em
		:background-color #eee
		:padding 0.1em 1em
		:font
			:family "Georgia", serif
			:weight bold
	input.submit
		:padding 0.2em 1em
		:margin-left 29.5%
	label
		:display block
		:width 29.5%
		:float left
		:clear both
		:text-align right
		:margin-right 0.5%
	input.radio,input.checkbox
		:margin-left 29.5%
		:margin-top 0.5em
		:float left
		:clear both
	label.radio,label.checkbox
		:width 66.5%
		:float right
		:clear none
		:text-align left
	textarea
		:width 66.5%
	.computer,.user
		p
			:margin 0
			:padding 0
			:clear both
		p.comment
			:margin
				:left 10.5em
				:top 1em
		em
			:clear both
			:display block
			:width 10em
			:text-align right
			:font-style normal
			:margin-right 0.5em
			:float left
			:font-weight bold
			:color = !foreground + #444
		ol
			:font-size 0.8em
			:font-weight bold
			:color = !foreground + #444
			li:hover
				ul
					:background-color #eee

			ul
				:font-weight normal
				:color = !foreground + #444
				:margin 0
				:list-style-type none
			p
				a
					:font
						:weight normal
						:size 0.8em
	.rooms
		ul
			:list-style-type none
			:margin 0
			:padding 0
			:clear both
			:text-align center
			:border-top 1px solid #ccc
			:overflow auto
			&.first
				:border-top-style none
		li
			:width 10%
			:float left
			:display block

	.displayOnHover
		span, a
			:color white
		a:hover
			:text-decoration underline
			:color red
		span:hover
			:color black

	.nav
		:display block
	.ban
		:background #ff6c6c
	.warning
		:background #fff4ac

#foot
	:text-align center
	:font
		:size 0.5em
	:margin
		:top 2em
		
#ips
	tr
		:height 30px
	td
		:width 100px
.ds1
	:background-color #ffaa30
.ds2
	:background-color #ee3040
.ds3
	:background-color #dddddd
.ds4
	:background-color #cc50cc
.ds5
	:background-color #bb6070
.ds5l
	:background-color #aa70ff
.ds6
	:background-color #70aa00
.ds7
	:background-color #80ccaa
.ds8
	:background-color #90aabb
.ds9
	:background-color #0000cc
.ds10
	:background-color #bb00dd
.ds11
	:background-color #ccdd00
.ds12
	:background-color #ddeeff

