RewriteEngine On
RewriteBase /~hrynek/skos

RewriteCond %{REQUEST_URI} !^/~hrynek/skos/i/
RewriteCond %{REQUEST_URI} !^/~hrynek/skos/index.php
RewriteCond %{REQUEST_URI} !^/~hrynek/skos/index.html
RewriteCond %{REQUEST_URI} !^/~hrynek/skos/$
RewriteCond %{REQUEST_URI} !^/~hrynek/skos$
RewriteRule ^(.*)$ index.php?$1 [PT]
