<?

class UFconf_Sru
extends UFconf {
	//usage UFra::shared('UFconf_Sru')->NAZWA_ZMIENNEJ

	protected $usersAvailableTo = '';	// data konca rejestracji nowych mieszkancow
	protected $computerAvailableTo = '';	// data waznosci noworejestrowanych komputerow
	protected $computersMaxNotSeen = '14'; // liczba dni, po których komputer zostanie dezaktywowany, jeśli nie był widziany w sieci
	protected $adminDeactivateAfter = 604800;	//czas w s, poniżej którego wyświetli się ostrzeżenie o zbliżającej się dezaktywacji
	protected $timeForComputersRestoration = 259200; //czas w s, po przekroczeniu którego kompy nie zostaną przywrócone wraz z użytkownikiem; 3 dni
	protected $sruUrl = 'https://sru.ds.pg.gda.pl';

	protected $noEthers = array(
		'153.19.208.22',
	);

	protected $sendEmail = true;	// wysylac maile dot. kar, edycji danych i danych kompow?
	protected $emailPrefix = '[SRU]';	// prefix maili wysyłanych ze SRU

	protected $switchFirmware = array( // aktualne wersje firmware'u używanych switchy
	);

	protected $masterSwitch = '';
	protected $communityRead = '';
	protected $communityWrite = '';
	protected $roomRegex = '';
	protected $swstatsSwitchRegex = '';
	protected $swstatsPortRegex = '';
	protected $swstatsLinkSwitch = '';
	protected $swstatsLinkPort = '';
	protected $penaltyPrefix = '';	// prefix do komentarza portu, na który nałożono karę

	protected $jabberServer = '';
	protected $jabberPort = 0;
	protected $jabberUser = '';
	protected $jabberPassword = '';
	protected $jabberResource = '';
	protected $jabberDomain = '';
	protected $ggGate = '';

	protected $userPrintWaletText = '';
	protected $touristPrintWaletText = '';
	protected $userPrintSkosText = '';
	protected $touristPrintSkosText = '';
	protected $userMailWaletText = "";
	protected $touristMailWaletText = "";
	protected $userMailSkosText = "";
	protected $touristMailSkosText = "";
	protected $userImportantLinks = array( // ważne linki na stronę główną usera
		'http://faq.ds.pg.gda.pl' => 'FAQ',
	);

	protected $puuAvailable = true;
	protected $mustBeRegistryNo = array( // typy userów, które powinny mieć nr indeksu
		'1', '2', '5'
	);
	protected $userTypesToRegister = array( // typy userów, które powinny pojawić się na listach wyboru:
		'1', '2' // 1-rok akademicki, 2-wakacje
	);

	protected $rrdDataDir = '';
	protected $listOwnTime = '15 minutes'; //liczba minut uwzględniach w liście użytkownika w API
}
