<?

class UFconf_Sru
extends UFconf {
	//usage UFra::shared('UFconf_Sru')->NAZWA_ZMIENNEJ

	protected $prodInstance = false;
	protected $usersAvailableSince = '';	// data poczatku rejestracji nowych mieszkancow
	protected $usersAvailableTo = '';	// data konca rejestracji nowych mieszkancow
	protected $computerAvailableTo = '';	// data waznosci noworejestrowanych komputerow
	protected $computersMaxNotSeen = '14'; // liczba dni, po których komputer zostanie dezaktywowany, jeśli nie był widziany w sieci
	protected $adminDeactivateAfter = 604800;	//czas w s, poniżej którego wyświetli się ostrzeżenie o zbliżającej się dezaktywacji
	protected $timeForComputersRestoration = 259200; //czas w s, po przekroczeniu którego kompy nie zostaną przywrócone wraz z użytkownikiem; 3 dni
	protected $passwordValidTime = 5184000;		//czas, po którym następuje wymuszenie zmiany hasła; 60 dni (3600 * 24 * 60)
	protected $passwordOutdatedWarning = 604800;    //czas, poniżej którego wyświetlane jest ostrzeżenie o zbliżaniu się terminu wygaśnięcia hasła; 7 dni (3600 * 24 * 7)
	protected $userRemoveAfter = 10;	// czas od ostatniej dezaktywacji, po ktorym użytkownik zostanie calkowicie usuniety, w miesiacachch
	protected $sruUrl = 'https://sru.ds.pg.gda.pl';
	protected $allowUnsecureConnections = false; // zezwalaj na połączenia z portu innego niż 443
	protected $taskSummaryCheckInterval = 300; // liczba sekund, co którą nalezy odświeżyć informację o zadaniach

	protected $noEthers = array(
		'153.19.208.22',
	);

	protected $invalidHostNames = array(
	);

	protected $defaultVlan = 1;
	protected $computerTypeToVLAN = array(
	    1 => 1,
	);

	protected $sendEmail = true;	// wysylac maile dot. kar, edycji danych i danych kompow?
	protected $emailPrefix = '[SRU]';	// prefix maili wysyłanych ze SRU

	protected $masterSwitch = '';
	protected $communityRead = '';
	protected $communityWrite = '';
	protected $roomRegex = '';
	protected $swstatsSwitchRegex = '';
	protected $swstatsPortRegex = '';
	protected $swstatsLinkSwitch = '';
	protected $swstatsLinkPort = '';
	protected $penaltyPrefix = '';	// prefix do komentarza portu, na który nałożono karę

	protected $otrsUrl = ''; // z ukośnikiem na końcu
	protected $otrsUser = '';
	protected $otrsPass = '';
	protected $otrsQueue = array('');

	protected $zabbixUrl = ''; // z ukośnikiem na końcu
	protected $zabbixUser = '';
	protected $zabbixPass = '';

	protected $uploadAPIUrl = '';

	protected $userPrintWaletText = '';
	protected $touristPrintWaletText = '';
	protected $userPrintSkosText = '';
	protected $touristPrintSkosText = '';
	protected $userMailWaletText = "";
	protected $touristMailWaletText = "";
	protected $userMailSkosText = "";
	protected $touristMailSkosText = "";
	protected $userImportantLinks = array( // ważne linki na stronę główną usera
		'http://faq.ds.pg.gda.pl' => 'FAQ',
	);

	protected $mustBeRegistryNo = array( // typy userów, które powinny mieć nr indeksu
		'1', '2', '5'
	);
	protected $userTypesToRegister = array( // typy userów, które powinny pojawić się na listach wyboru:
		'1', '2' // 1-rok akademicki, 2-wakacje
	);
}
